PB-Isolate-Machine-LSASS.azuredeploy.json
{
  "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
  "contentVersion": "1.0.0.0",
  "metadata": {
    "comments": "Lab SC-200 - Playbook de reponse : isole une machine dans Microsoft Defender for Endpoint lorsqu'un incident Sentinel (alerte LSASS) est cree.",
    "author": "Lab SC-200"
  },
  "parameters": {
    "PlaybookName": {
      "type": "string",
      "defaultValue": "PB-Isolate-Machine-on-LSASS",
      "metadata": { "description": "Nom du playbook (Logic App)." }
    },
    "IsolationType": {
      "type": "string",
      "defaultValue": "Full",
      "allowedValues": [ "Full", "Selective" ],
      "metadata": { "description": "Type d'isolation MDE : Full (totale) ou Selective." }
    },
    "location": {
      "type": "string",
      "defaultValue": "[resourceGroup().location]"
    }
  },
  "variables": {
    "AzureSentinelConnectionName": "[concat('azuresentinel-', parameters('PlaybookName'))]",
    "WdatpConnectionName": "[concat('wdatp-', parameters('PlaybookName'))]"
  },
  "resources": [
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('AzureSentinelConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[variables('AzureSentinelConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
        }
      }
    },
    {
      "type": "Microsoft.Web/connections",
      "apiVersion": "2016-06-01",
      "name": "[variables('WdatpConnectionName')]",
      "location": "[parameters('location')]",
      "properties": {
        "displayName": "[variables('WdatpConnectionName')]",
        "customParameterValues": {},
        "api": {
          "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/wdatp')]"
        }
      }
    },
    {
      "type": "Microsoft.Logic/workflows",
      "apiVersion": "2017-07-01",
      "name": "[parameters('PlaybookName')]",
      "location": "[parameters('location')]",
      "identity": { "type": "SystemAssigned" },
      "dependsOn": [
        "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
        "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]"
      ],
      "properties": {
        "state": "Enabled",
        "definition": {
          "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
          "contentVersion": "1.0.0.0",
          "parameters": {
            "$connections": { "defaultValue": {}, "type": "Object" }
          },
          "triggers": {
            "Microsoft_Sentinel_incident": {
              "type": "ApiConnectionWebhook",
              "inputs": {
                "body": { "callback_url": "@{listCallbackUrl()}" },
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "path": "/incident-creation"
              }
            }
          },
          "actions": {
            "Entities_-_Get_Hosts": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "body": "@triggerBody()?['object']?['properties']?['relatedEntities']",
                "path": "/entities/host"
              },
              "runAfter": {}
            },
            "Add_comment_-_debut": {
              "type": "ApiConnection",
              "inputs": {
                "host": {
                  "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                },
                "method": "post",
                "path": "/Incidents/Comment",
                "body": {
                  "incidentArmId": "@triggerBody()?['object']?['id']",
                  "message": "<p><b>[Lab SC-200] Playbook d'isolation declenche</b> (alerte LSASS). Recherche des hotes a isoler...</p>"
                }
              },
              "runAfter": {
                "Entities_-_Get_Hosts": [ "Succeeded" ]
              }
            },
            "For_each_-_Hote": {
              "type": "Foreach",
              "foreach": "@body('Entities_-_Get_Hosts')?['Hosts']",
              "actions": {
                "Condition_-_ID_MDE_present": {
                  "type": "If",
                  "expression": {
                    "and": [
                      {
                        "not": {
                          "equals": [ "@items('For_each_-_Hote')?['MdatpDeviceId']", "" ]
                        }
                      }
                    ]
                  },
                  "actions": {
                    "Isolate_machine": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": { "name": "@parameters('$connections')['wdatp']['connectionId']" }
                        },
                        "method": "post",
                        "path": "/api/machines/@{encodeURIComponent(items('For_each_-_Hote')?['MdatpDeviceId'])}/isolate",
                        "body": {
                          "Comment": "Isolation automatique - alerte LSASS (Lab SC-200) - Incident @{triggerBody()?['object']?['properties']?['incidentNumber']}",
                          "IsolationType": "[parameters('IsolationType')]"
                        }
                      },
                      "runAfter": {}
                    },
                    "Add_comment_-_isole": {
                      "type": "ApiConnection",
                      "inputs": {
                        "host": {
                          "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                        },
                        "method": "post",
                        "path": "/Incidents/Comment",
                        "body": {
                          "incidentArmId": "@triggerBody()?['object']?['id']",
                          "message": "<p><b>Machine isolee :</b> @{items('For_each_-_Hote')?['HostName']} (ID MDE @{items('For_each_-_Hote')?['MdatpDeviceId']}) - type @{parameters('IsolationType')}. Action MDE id : @{body('Isolate_machine')?['id']}</p>"
                        }
                      },
                      "runAfter": {
                        "Isolate_machine": [ "Succeeded" ]
                      }
                    }
                  },
                  "else": {
                    "actions": {
                      "Add_comment_-_pas_d_ID": {
                        "type": "ApiConnection",
                        "inputs": {
                          "host": {
                            "connection": { "name": "@parameters('$connections')['azuresentinel']['connectionId']" }
                          },
                          "method": "post",
                          "path": "/Incidents/Comment",
                          "body": {
                            "incidentArmId": "@triggerBody()?['object']?['id']",
                            "message": "<p>Hote @{items('For_each_-_Hote')?['HostName']} sans ID MDE dans l'entite - isolation ignoree. (Resoudre l'ID via 'Machines - Get list of machines' filtre sur computerDnsName.)</p>"
                          }
                        },
                        "runAfter": {}
                      }
                    }
                  },
                  "runAfter": {}
                }
              },
              "runAfter": {
                "Add_comment_-_debut": [ "Succeeded" ]
              }
            }
          },
          "outputs": {}
        },
        "parameters": {
          "$connections": {
            "value": {
              "azuresentinel": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('AzureSentinelConnectionName'))]",
                "connectionName": "[variables('AzureSentinelConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/azuresentinel')]"
              },
              "wdatp": {
                "connectionId": "[resourceId('Microsoft.Web/connections', variables('WdatpConnectionName'))]",
                "connectionName": "[variables('WdatpConnectionName')]",
                "id": "[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('location'), '/managedApis/wdatp')]"
              }
            }
          }
        }
      }
    }
  ],
  "outputs": {
    "PlaybookName": {
      "type": "string",
      "value": "[parameters('PlaybookName')]"
    }
  }
}
